@model CRUDApi.Models.Job

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyLogoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyLogoUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyReviewLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyReviewLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyReviews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyReviews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MultipleHiring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MultipleHiring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextPage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextPage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrgentlyHiring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrgentlyHiring)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
