@model IEnumerable<CRUDApi.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyLogoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyReviewLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyReviews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MultipleHiring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrgentlyHiring)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyLogoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyReviewLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyReviews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultipleHiring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextPage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrgentlyHiring)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
